@charset "UTF-8";

body {
  margin: 0;

  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header{
    position:fixed;
    top:0px;
    height:65px;
    width:100%;
    background-color: rgba(34, 49, 52, 0.9);
    z-index:10;
}

.header-left{
    float:left;
}

.logo{
     width:80px;
     margin-top:0px;
}

.header-right {
    float:right;
    transition:all 0.5s;
}

.header-right a{
    float:right;
    line-height:15px;
    background-color:gray;
    opacity:0.9;
    color:white;
    padding:25px;
    display:block;
    border:black solid 0.2px;
}

.header-right:hover{
    background-color: rgba(255, 255, 255, 0.5);
    }

.top-wrapper{
    padding:200px;
    background-image:url("../images/InquiryImage.jpg");;
    text-align:center;
    background-size:hover;
    color:white;
}

.container{
  padding-left:0px;
  padding-right:600px;
  padding-top:0px;
  margin:0 auto;
}

.top-wrapper h1{
    letter-spacing:4px;
    font-size:60px;

}

.top-wrapper p{
  font-size:30px;
}

.message-wrapper{
    text-align:center;
    font-size:20px;
    margin-top:50px;
}

.inquiryForm{
    margin 0:auto;
    text-align:center;
    margin-top:100px;
    background-color:#FDF5E6;
    opacity:0.7;
    padding:100px;
}



input{
    padding:20px;
}

.submitButton{
	text-align:center;
}
